/*------INDEX.HTML------*/
/*-----BANNER-------*/
.title-container {
  width: 100%;
  height: 300px;
  /*background-image: url('../img/banner-background.jpg');*/
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 800px;
}
.title-container h1 {
  margin: 0;
  padding: 20px;
  color: #fff;
  font-size: 2em;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
}
.title-container h2 {
  margin: 0;
  padding: 20px;
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 4px;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
}
.title-container p {
  margin: 0;
  padding: 20px;
  color: #fff;
  font-size: .7em;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
}
.block {
  width: 100%;
  height: auto;
  background-color: #ccc;
}
/*-----BLOCK---------*/
.block {
  display: flex;
  width: 100%;
  background-color: #fefefe;
}
.block .info {
  background-color: lightgrey;
  flex-basis: 100%;
  height: auto;
}
.block .info h1 {
  margin: 0;
  padding: 20px;
  color: black;
  font-size: 1.5em;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
}
.block .info p {
  margin: 0;
  padding: 20px;
  color: black;
  font-size: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.block .image {
  display: none;
}
@media (min-width: 760px) {
  .title-container {
    background-size: 100%;
  }
  .block .info {
    flex-basis: 50%;
  }
  .block .image {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
  }
  .image img {
    width: 200px;
    height: 200px;
  }
}
