$primary-color: #2a2a2a;
$secundary-color: #333;
$highlight-color: #444;
$highlight-side-color: #eee;
$text-color:  #fff;

$position-hidde: -251px;
$position-unhidde: 0px;

nav {
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0;
  margin-left: $position-hidde;

  background-color: $primary-color;
  outline: 1px solid $secundary-color;
  color: $text-color;

  transition: margin 0.3s;

  h2 {
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: $secundary-color;
  }

  button {
    cursor: pointer;

    position: absolute;
    width: 50px;
    height: 50px;
    left: 250px;
    top: 0;
    margin: 0;
    padding: 0;

    background: $secundary-color url("../img/menu-icon.png") no-repeat;
    background-size: 30px;
    background-position: center;
    border: none;
    outline: 1px solid $secundary-color;
  }

  img {
    display: none;
  }

  @media (max-width: 760px) {
    img {
      display: inline;
      position: absolute;
      width: 30px;
      height: 30px;
      left: 10px;
      top: 10px;
      margin: 0;
      padding: 0;
    }
  }

  a {
    display: block;
    padding: 10px;

    color: $text-color;
    text-decoration: none;
  }

  li {
    outline: 1px solid $secundary-color;
    transition: all 0.3s;
  }

  li:hover {
    background-color: $highlight-color;
    border-left: 5px solid $highlight-side-color;
  }
}

.side-bar-toggle {
  margin-left: $position-unhidde;
}
