$media-tablet: 420px;
$media-desktop: 800px;

/*Nav*/
$nav-primary-color: #2a2a2a;
$nav-secundary-color: #333;
$highlight-color: #444;
$highlight-side-color: #eee;
$text-color:  #fff;

$position-hidde: -251px;
$position-unhidde: 0px;

/*Index Header*/
$text-color: #fff;
$header-color: green;

/*Index content*/
$gray: #e1e1e1;
$lightgray: #f5f5f5;

/*fotter*/
$footer-color: #72ABF8;

/*Blocks*/
$component-border-radius: 7px;
